Adam Li <adam2392@gmail.com> <adam2392@gmail.com>

Thomas Nichols <thomas.nichols@bdi.ox.ac.uk>
Thomas Nichols <thomas.nichols@bdi.ox.ac.uk> <t.e.nichols@warwick.ac.uk>
Thomas Nichols <thomas.nichols@bdi.ox.ac.uk> <nicholst@users.noreply.github.com>

Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Chris Gorgolewski <krzysztof.gorgolewski@gmail.com> <chrisgo@google.com>
Chris Gorgolewski <krzysztof.gorgolewski@gmail.com> <krzysztof.gorgolewski+fake@gmail.com>
Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>

Christopher J. Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> <markiewicz@stanford.edu>
Christopher J. Markiewicz <effigies@gmail.com> <effigies@bu.edu>

Franklin Feingold <franklin.feingold@gmail.com>
Franklin Feingold <franklin.feingold@gmail.com> <35307458+franklin-feingold@users.noreply.github.com>

Satrajit Ghosh <satrajit.ghosh@gmail.com>
Satrajit Ghosh <satrajit.ghosh@gmail.com> <satra@mit.edu>

Remi Gau <remi_gau@hotmail.com>
Remi Gau <remi_gau@hotmail.com> <6961185+Remi-Gau@users.noreply.github.com>

Horea Christian <chr@chymera.eu>
Horea Christian <chr@chymera.eu> <horea.christ@yandex.com>

Franco Pestilli <frakkopesto@gmail.com>
Franco Pestilli <frakkopesto@gmail.com> <2119795+francopestilli@users.noreply.github.com>

Chris Holdgraf <choldgraf@gmail.com>
Chris Holdgraf <choldgraf@gmail.com> <choldgraf@berkeley.edu>

Alex Rockhill <aprockhill206@gmail.com>
Alex Rockhill <aprockhill206@gmail.com> Alex <aprockhill206@gmail.com>

Cyril Pernet <cyril.pernet@ed.ac.uk>
Cyril Pernet <cyril.pernet@ed.ac.uk> <wamcyril@gmail.com>

Dora Hermes <dorahermes@gmail.com>
Dora Hermes <dorahermes@gmail.com> Dora <dora@Doras-MacBook-Pro.local>

Oscar Esteban <code@oscaresteban.es> <code@oscaresteban.es>

bids-maintenance <bids.maintenance@gmail.com>
bids-maintenance <bids.maintenance@gmail.com> Changelog-bot <franklin.feingold@gmail.com>

Agah Karakuzu <agahkarakuzu@gmail.com>

Wouter Potters <wouterpotters@users.noreply.github.com>

Hugo Boniface <hugoboniface@gmail.com>

Jose Manuel Saborit Torres <josator2@gmail.com>

Matt Sanderson <monkey_man_192@yahoo.com.au>

Melanie Ganz <melanieganz@users.noreply.github.com>

Kay Robbins <1189050+VisLab@users.noreply.github.com>

Patrick Park <parkpatrickj@gmail.com>

Ezequiel Mikulan <e.mikulan@gmail.com>

Guillaume Flandin <gllmflndn@users.noreply.github.com>
