# This files DOES NOT list people responsible for maintenance of different parts of
# the specification. It merely serves the purpose of notifying interested
# contributors when a new Pull Request that proposes changes to a particular file
# is submitted. If you would like to subscribe to such notifications (in a form of a
# Request for Review) please add your GitHub username next to the file you want to
# monitor below.

# Individual sections
/src/common-principles.md @chrisgorgo @DimitriPapadopoulos
/src/modality-specific-files/magnetic-resonance-imaging-data.md @chrisgorgo
/src/modality-specific-files/electroencephalography.md @sappelhoff @ezemikulan
/src/modality-specific-files/intracranial-electroencephalography.md @ezemikulan
/src/derivatives/imaging.md @effigies
/src/derivatives/structural-derivatives.md @edickie @ahoopes
/src/derivatives/functional-derivatives.md @effigies
/src/derivatives/diffusion-derivatives.md @francopestilli @oesteban @Lestropie

# The schema
/src/schema/ @erdalkaraca
/tools/schemacode/ @erdalkaraca
