# This files DOES NOT list people responsible for maintenance of different parts of
# the specification. It merely serves the purpose of notifying interested
# contributors when a new Pull Request that proposes changes to a particular file
# is submitted. If you would like to subscribe to such notifications (in a form of a
# Request for Review) please add your GitHub username next to the file you want to
# monitor below.

# Add your GitHub name below to get notified about proposed releases
/src/CHANGES.md @chrisgorgo @sappelhoff @CPernet

# Individual sections
/src/01-common-principles.md @chrisgorgo @DimitriPapadopoulos
/src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md @chrisgorgo
/src/04-modality-specific-files/03-electroencephalography.md @sappelhoff @ezemikulan
/src/04-modality-specific-files/04-intracranial-electroencephalography.md @ezemikulan
/src/05-derivatives/03-imaging.md @effigies
/src/05-derivatives/04-structural-derivatives.md @edickie @ahoopes
/src/05-derivatives/05-functional-derivatives.md @effigies
/src/05-derivatives/06-diffusion-derivatives.md @francopestilli @oesteban @Lestropie
/src/99-appendices/06-meg-file-formats.md @monkeyman192

# The schema
/src/schema/ @tsalo @erdalkaraca
/tools/schemacode/ @tsalo @erdalkaraca
