site_name: Brain Imaging Data Structure v1.5.0-dev
theme:
    name: material
    custom_dir: theme_customizations/
    favicon: images/favicon.png
    logo: images/logo.png
extra_javascript:
    - js/jquery-3.4.1.min.js
markdown_extensions:
    - toc:
        anchorlink: true
    - pymdownx.superfences
plugins:
    - search
    - branchcustomization:
        update_config:
         - branch: /(?!^master$)/
           +extra_css:
             - css/watermark.css
docs_dir: 'src'
use_directory_urls: false
nav:
    - The BIDS Specification:
      - Introduction: 01-introduction.md
      - Common principles: 02-common-principles.md
      - Modality agnostic files: 03-modality-agnostic-files.md
      - Modality specific files:
        - Magnetic Resonance Imaging: 04-modality-specific-files/01-magnetic-resonance-imaging-data.md
        - Magnetoencephalography: 04-modality-specific-files/02-magnetoencephalography.md
        - Electroencephalography: 04-modality-specific-files/03-electroencephalography.md
        - Intracranial Electroencephalography: 04-modality-specific-files/04-intracranial-electroencephalography.md
        - Task events: 04-modality-specific-files/05-task-events.md
        - Physiological and other continuous recordings: 04-modality-specific-files/06-physiological-and-other-continuous-recordings.md
        - Behavioral experiments (with no neural recordings): 04-modality-specific-files/07-behavioral-experiments.md
        - Genetic Descriptor: 04-modality-specific-files/08-genetic-descriptor.md
        - Positron Emission Tomography: 04-modality-specific-files/09-positron-emission-tomography.md
      - Derivatives:
        - BIDS Derivatives: 05-derivatives/01-introduction.md
        - Common data types and metadata: 05-derivatives/02-common-data-types.md
        - Imaging data types: 05-derivatives/03-imaging.md
      - Longitudinal and multi-site studies: 06-longitudinal-and-multi-site-studies.md
      - BIDS Extension Proposals: 07-extensions.md
      - Appendix:
        - Contributors: 99-appendices/01-contributors.md
        - Licenses: 99-appendices/02-licenses.md
        - Hierarchical Event Descriptors: 99-appendices/03-hed.md
        - Entity table: 99-appendices/04-entity-table.md
        - Units: 99-appendices/05-units.md
        - MEG file formats: 99-appendices/06-meg-file-formats.md
        - MEG systems: 99-appendices/07-meg-systems.md
        - Coordinate systems: 99-appendices/08-coordinate-systems.md
        - Entities: 99-appendices/09-entities.md
        - File collections: 99-appendices/10-file-collections.md
        - Quantitative MRI: 99-appendices/11-qmri.md
        - Arterial Spin Labeling: 99-appendices/12-arterial-spin-labeling.md
        - Cross modality correspondence: 99-appendices/13-cross-modality-correspondence.md
      - Changelog: CHANGES.md
    - The BIDS Starter Kit:
      - GitHub repository: https://github.com/bids-standard/bids-starter-kit
      - Tutorials: https://github.com/bids-standard/bids-starter-kit/wiki/Tutorials
      - Wiki: https://github.com/bids-standard/bids-starter-kit/wiki
