site_name: Brain Imaging Data Structure
theme: material
plugins:
    - search
docs_dir: 'src'
use_directory_urls: false
nav:
    - The BIDS Specification:
      - Introduction: 01-introduction.md
      - Common principles: 02-common-principles.md
      - Modality agnostic files: 03-modality-agnostic-files.md
      - Modality specific files:
        - Magnetic Resonance Imaging: 04-modality-specific-files/01-magnetic-resonance-imaging-data.md
        - Magnetoencephalography: 04-modality-specific-files/02-magnetoencephalography.md
        - Task events: 04-modality-specific-files/03-task-events.md
        - Physiological and other continous recordings: 04-modality-specific-files/04-physiological-and-other-continous-recordings.md
        - Behavioral experiments (with no MRI): 04-modality-specific-files/05-behavioural-experiments.md
      - Derivatives:
        - Introduction: 05-derivatives/01-introduction.md
        - Common data types: 05-derivatives/02-common-data-types.md
        - Structural derivatives: 05-derivatives/03-structural-derivatives.md
        - Functional derivatives: 05-derivatives/04-functional-derivatives.md
        - Diffusion derivatives: 05-derivatives/05-diffusion-derivatives.md
      - Longitudinal and multi-site studies: 06-longitudinal-and-multi-site-studies.md
      - Extending the BIDS specification: 06-extensions.md
      - Appendix:
        - Contributors: 99-appendices/01-contributors.md
        - Licenses: 99-appendices/02-licenses.md
        - HED: 99-appendices/03-hed.md
        - Entity-table: 99-appendices/04-entity-table.md
        - Units: 99-appendices/05-units.md
        - MEG file formats: 99-appendices/06-meg-file-formats.md
        - MEG systems: 99-appendices/07-meg-systems.md
        - Coordinate-systems: 99-appendices/08-coordinate-systems.md
    - The BIDS Starter Kit: https://github.com/bids-standard/bids-starter-kit
