site_name: Brain Imaging Data Structure v1.3.0-dev
theme: material
markdown_extensions:
    - toc:
        anchorlink: true
plugins:
    - search
docs_dir: 'src'
use_directory_urls: false
nav:
    - The BIDS Specification:
      - Introduction: 01-introduction.md
      - Common principles: 02-common-principles.md
      - Modality agnostic files: 03-modality-agnostic-files.md
      - Modality specific files:
        - Magnetic Resonance Imaging: 04-modality-specific-files/01-magnetic-resonance-imaging-data.md
        - Magnetoencephalography: 04-modality-specific-files/02-magnetoencephalography.md
        - Electroencephalography: 04-modality-specific-files/03-electroencephalography.md
        - intracranial Electroencephalography: 04-modality-specific-files/04-intracranial-electroencephalography.md
        - Task events: 04-modality-specific-files/05-task-events.md
        - Physiological and other continuous recordings: 04-modality-specific-files/06-physiological-and-other-continuous-recordings.md
        - Behavioral experiments (with no MRI): 04-modality-specific-files/07-behavioral-experiments.md
      - Longitudinal and multi-site studies: 05-longitudinal-and-multi-site-studies.md
      - Extending the BIDS specification: 06-extensions.md
      - Appendix:
        - Contributors: 99-appendices/01-contributors.md
        - Licenses: 99-appendices/02-licenses.md
        - HED: 99-appendices/03-hed.md
        - Entity-table: 99-appendices/04-entity-table.md
        - Units: 99-appendices/05-units.md
        - MEG file formats: 99-appendices/06-meg-file-formats.md
        - MEG systems: 99-appendices/07-meg-systems.md
        - Coordinate-systems: 99-appendices/08-coordinate-systems.md
      - Changelog: CHANGES.md
    - The BIDS Starter Kit: https://github.com/bids-standard/bids-starter-kit
