site_name: Brain Imaging Data Structure
theme: material
plugins:
    - search
docs_dir: 'src'
use_directory_urls: false 
nav:
    - About: index.md
    - Specification:
      - Introduction: 01-introduction.md
      - Common principles: 02-common-principles.md
      - Modality agnostic files: 03-modality-agnostic-files.md
      - Modality specific files:
        - Magnetic Resonance Imaging: 04-modality-specific-files/01-magnetic-resonance-imaging-data.md
        - Magnetoencephalography: 04-modality-specific-files/02-magnetoencephalography.md
        - Task events: 04-modality-specific-files/03-task-events.md
        - Physiological and other continous recordings: 04-modality-specific-files/04-physiological-and-other-continous-recordings.md
        - Behavioral experiments (with no MRI): 04-modality-specific-files/05-behavioural-experiments.md
      - Longitudinal and multi-site studies: 05-longitudinal-and-multi-site-studies.md
