site_name: Brain Imaging Data Structure v1.8.0
site_url: https://bids-specification.readthedocs.io/en/stable/
theme:
    name: material
    favicon: images/favicon.png
    logo: images/logo.png
    features:
      - navigation.sections
copyright: Copyright &copy; 2018-2022, BIDS Contributors - <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
extra:
    generator: false
    social:
      - icon: fontawesome/brands/twitter
        link: https://twitter.com/BIDSstandard/
      - icon: fontawesome/brands/github
        link: https://github.com/bids-standard/bids-specification/
      - icon: fontawesome/brands/google
        link: https://groups.google.com/g/bids-discussion
extra_javascript:
    - js/jquery-3.6.0.min.js
markdown_extensions:
    - toc:
        anchorlink: true
    - pymdownx.superfences
plugins:
    - search
    - branchcustomization:
        update_config:
         - branch: /(?!^master$)/
           +extra_css:
             - css/watermark.css
    - macros:
        module_name: tools/mkdocs_macros_bids/main
    - redirects:
        redirect_maps:
            '99-appendices/14-glossary.md': 'glossary.md'
            '99-appendices/01-contributors.md': 'appendices/contributors.md'
            '99-appendices/02-licenses.md': 'appendices/licenses.md'
            '99-appendices/03-hed.md': 'appendices/hed.md'
            '99-appendices/04-entity-table.md': 'appendices/entity-table.md'
            '99-appendices/05-units.md': 'appendices/units.md'
            '99-appendices/06-meg-file-formats.md': 'appendices/meg-file-formats.md'
            '99-appendices/07-meg-systems.md': 'appendices/meg-systems.md'
            '99-appendices/08-coordinate-systems.md': 'appendices/coordinate-systems.md'
            '99-appendices/09-entities.md': 'appendices/entities.md'
            '99-appendices/10-file-collections.md': 'appendices/file-collections.md'
            '99-appendices/11-qmri.md': 'appendices/qmri.md'
            '99-appendices/12-arterial-spin-labeling.md': 'appendices/arterial-spin-labeling.md'
            '99-appendices/13-cross-modality-correspondence.md': 'appendices/cross-modality-correspondence.md'
docs_dir: 'src'
use_directory_urls: false
nav:
    - The BIDS Specification:
      - Introduction: 01-introduction.md
      - Common principles: 02-common-principles.md
      - Modality agnostic files: 03-modality-agnostic-files.md
      - Modality specific files:
        - Magnetic Resonance Imaging: 04-modality-specific-files/01-magnetic-resonance-imaging-data.md
        - Magnetoencephalography: 04-modality-specific-files/02-magnetoencephalography.md
        - Electroencephalography: 04-modality-specific-files/03-electroencephalography.md
        - Intracranial Electroencephalography: 04-modality-specific-files/04-intracranial-electroencephalography.md
        - Task events: 04-modality-specific-files/05-task-events.md
        - Physiological and other continuous recordings: 04-modality-specific-files/06-physiological-and-other-continuous-recordings.md
        - Behavioral experiments (with no neural recordings): 04-modality-specific-files/07-behavioral-experiments.md
        - Genetic Descriptor: 04-modality-specific-files/08-genetic-descriptor.md
        - Positron Emission Tomography: 04-modality-specific-files/09-positron-emission-tomography.md
        - Microscopy: 04-modality-specific-files/10-microscopy.md
        - Near-Infrared Spectroscopy: 04-modality-specific-files/11-near-infrared-spectroscopy.md
      - Derivatives:
        - BIDS Derivatives: 05-derivatives/01-introduction.md
        - Common data types and metadata: 05-derivatives/02-common-data-types.md
        - Imaging data types: 05-derivatives/03-imaging.md
      - Longitudinal and multi-site studies: 06-longitudinal-and-multi-site-studies.md
      - Glossary: glossary.md
      - BIDS Extension Proposals: 07-extensions.md
      - Appendix:
        - Contributors: appendices/contributors.md
        - Licenses: appendices/licenses.md
        - Entity table: appendices/entity-table.md
        - Entities: appendices/entities.md
        - File collections: appendices/file-collections.md
        - Units: appendices/units.md
        - Hierarchical Event Descriptors: appendices/hed.md
        - MEG file formats: appendices/meg-file-formats.md
        - MEG systems: appendices/meg-systems.md
        - Coordinate systems: appendices/coordinate-systems.md
        - Quantitative MRI: appendices/qmri.md
        - Arterial Spin Labeling: appendices/arterial-spin-labeling.md
        - Cross modality correspondence: appendices/cross-modality-correspondence.md
      - Changelog: CHANGES.md
    - The BIDS Starter Kit:
      - Website: https://bids-standard.github.io/bids-starter-kit
      - Tutorials: https://bids-standard.github.io/bids-starter-kit/tutorials/tutorials.html
      - GitHub repository: https://github.com/bids-standard/bids-starter-kit
