include data/metaschema.json
include data/schema/BIDS_VERSION
include data/schema/SCHEMA_VERSION
recursive-include data/schema *.yaml
recursive-include tests/data
recursive-include tests/data/ .bidsignore
