[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools"]

[project]
name = "bidsschematools"
description = " Python tools for working with the BIDS schema."
authors = [{name = "bids-standard developers"}]
maintainers = [{name = "bids-standard developers", email = " bids.maintenance@gmail.com"}]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "click",
    "pyyaml",
    "jsonschema"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13"
]
dynamic = ["version"]

[project.optional-dependencies]
expressions = ["pyparsing"]
render = [
    "tabulate",
    "pandas",
    "markdown-it-py"
]
tests = [
    "bidsschematools[expressions,render]",
    "codecov",
    "coverage[toml]",
    "flake8",
    "flake8-black",
    "flake8-isort",
    "pytest>6",
    "pytest-cov"
]
doc = [
    "sphinx>=1.5.3",
    "sphinx_rtd_theme"
]
all = [
    "bidsschematools[doc,tests]"
]

[project.scripts]
bst = "bidsschematools.__main__:cli"

[project.urls]
Homepage = "https://github.com/bids-standard/bids-specification"

[tool.black]
line-length = 99
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.github
    | \.hg
    | \.pytest_cache
    | _build
    | build
    | dist
  )/
)
'''

[tool.coverage.run]
omit = [
    "*/*/tests/*",
    "**/tests/*"
]
parallel = true

[tool.isort]
multi_line_output = 3
profile = "black"

[tool.pytest.ini_options]
addopts = "-ra --strict-markers --strict-config"
log_cli = true
log_cli_level = "INFO"
markers = [
    "validate_schema: tests that validate the schema itself"
]
minversion = "6.0"
xfail_strict = true

[tool.setuptools.dynamic]
version = {file = "bidsschematools/data/schema/SCHEMA_VERSION"}

[tool.setuptools.package-data]
bidsschematools = [
    "data/metaschema.json",
    "data/schema/BIDS_VERSION",
    "data/schema/SCHEMA_VERSIO",
    "data/schema/**/*.yaml",
    "tests/data/**/*",
    "tests/data/**/.bidsignore"
]

[tool.setuptools.packages.find]
include = ["bidsschematools*"]
