version: 2
jobs:
  build_docs:
    docker:
      - image: circleci/python:3.8
    steps:
      # checkout code to default ~/project
      - checkout
      - run:
          name: install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: generate docs
          command: mkdocs build --clean --strict --verbose
      - persist_to_workspace:
          # the mkdocs build outputs are in ~/project/site
          root: ~/project
          paths: site

  linkchecker:
    docker:
      - image: yarikoptic/linkchecker:9.4.0.anchorfix1-1
    steps:
      - attach_workspace:
          # mkdocs build outputs will be in ~/project/site
          at: ~/project
      - run:
          name: check links
          command: |
            if (! git log -1 --pretty=%b | grep REL:) ; then
              chmod a+rX -R ~
              linkchecker -t 1 ~/project/site/
              # check external separately by pointing to all *html so no
              # failures for local file:/// -- yoh found no better way,
              linkchecker -t 1 --check-extern \
                --ignore-url 'file:///.*' \
                --ignore-url https://fonts.gstatic.com \
                --ignore-url "https://github.com/bids-standard/bids-specification/(pull|tree)/.*" \
                --ignore-url "https://github.com/[^/]*" \
                ~/project/site/*html ~/project/site/*/*.html
            else
              echo "Release PR - do nothing"
            fi

  build_docs_pdf:
    working_directory: ~/bids-specification/pdf_build_src
    docker:
      - image: danteev/texlive:latest
    steps:
      - run:
          name: where am i
          command: |
            pwd
            ls
      # checkout code to default ~/project
      - checkout
      - run:
          name: where am i
          command: |
            pwd
            ls
      - run:
          name: install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r ../requirements.txt
      - run:
          name: where am i
          command: |
            pwd
            ls
      - run:
          name: install font that works with unicode emojis
          command: apt-get update && apt-get install -y fonts-symbola
      - run:
          name: generate pdf version docs
          command: bash build_pdf.sh
      - store_artifacts:
          path: bids-spec.pdf

  # Auto changelog collector
  github-changelog-generator:
    docker:
      - image: ferrarimarco/github-changelog-generator:1.14.3
    steps:
      - setup_remote_docker:
          version: 18.06.0-ce
      - run:
          name: where am i
          command: |
            pwd
            ls
      # checkout code to default ~/project
      - checkout
      - run:
          name: where am i
          command: |
            pwd
            ls
      - run:
          name: Build changelog
          # $CHANGE_TOKEN is generated via the GitHub web UI, and then securely stored within CircleCI web UI
          command: |
            pwd
            ls
            cd ~/project
            pwd
            ls
            mkdir ~/changelog_build
            git status
            if (git log -1 --pretty=%s | grep Merge*) && (! git log -1 --pretty=%b | grep REL:) ; then
              github_changelog_generator \
                --user bids-standard \
                --project bids-specification \
                --token ${CHANGE_TOKEN} \
                --output ~/changelog_build/CHANGES.md \
                --base ~/project/src/pregh-changes.md \
                --header-label "# Changelog" \
                --no-issues \
                --no-issues-wo-labels \
                --no-filter-by-milestone \
                --no-compare-link \
                --pr-label "" \
                --release-branch master
              cat ~/changelog_build/CHANGES.md
            else
              echo "Commit or Release, do nothing"
            fi
      - run:
          name: where am i
          command: |
            pwd
            ls
      - persist_to_workspace:
          root: ~/.
          paths: changelog_build

  # Run remark on the auto generated changes.md file
  remark:
    docker:
      - image: node:latest
    steps:
      - run:
          name: where am i
          command: |
            pwd
            ls
      - checkout
      - run:
          name: where am i
          command: |
            pwd
            ls
      - attach_workspace:
          # the freshly built CHANGES.md will be in ~/changelog_build/CHANGES.md
          at: ~/.
      - run:
          name: where am i
          command: |
            pwd
            ls
      - run:
          name: install remark and extensions
          command: npm install `cat npm-requirements.txt`
      - run:
          name: remark on autogenerated CHANGES.md
          command: |
            git status
            if (git log -1 --pretty=%s | grep Merge*) && (! git log -1 --pretty=%b | grep REL:) ; then
              cat ~/changelog_build/CHANGES.md
              npx remark ~/changelog_build/CHANGES.md --frail --rc-path .remarkrc --output
              sed -i 's/*   /-   /' ~/changelog_build/CHANGES.md
              npx remark ~/changelog_build/CHANGES.md --frail --rc-path .remarkrc
            else
              echo "Commit or Release, do nothing"
            fi
      - run:
          name: where am i
          command: |
            pwd
            ls
      - persist_to_workspace:
          root: ~/.
          paths: changelog_build

  # Push built changelog to repo
  Changelog-bot:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - setup_remote_docker:
          version: 17.11.0-ce
      - run:
          name: where am i
          command: |
            sudo apt update
            sudo apt-get install tree
            pwd
            ls
            tree . -L 2
      - checkout
      - run:
          name: where am i
          command: |
            pwd
            ls
            tree . -L 2
      - attach_workspace:
          # the freshly built CHANGES.md will be in ~/changelog_build/CHANGES.md
          at: ~/.
      - run:
          name: where am i
          command: |
            pwd
            ls
            tree . -L 2
      - deploy:
          name: Changelog deployment
          command: |
            git status
            if (git log -1 --pretty=%s | grep Merge*) && (! git log -1 --pretty=%b | grep REL:) ; then
              mv ~/changelog_build/CHANGES.md ~/project/src/CHANGES.md
              merge_message=$(git log -1 | grep Merge | grep "pull")
              PR_number=$(echo $merge_message | cut -d ' ' -f 4)
              git config credential.helper 'cache --timeout=120'
              git config user.email "bids.maintenance@gmail.com"
              git config user.name "bids-maintenance"
              git add ~/project/src/CHANGES.md
              git commit -m "[DOC] Auto-generate changelog entry for PR ${PR_number}"
              git push https://${CHANGE_TOKEN}@github.com/bids-standard/bids-specification.git master
            else
              echo "Commit or Release, do nothing"
            fi

workflows:
  version: 2
  search_build:
    jobs:
      - build_docs
      - linkchecker:
          requires:
            - build_docs
      - github-changelog-generator:
          filters:
            branches:
              only: master
      - remark:
          requires:
            - github-changelog-generator
          filters:
            branches:
              only: master
      - Changelog-bot:
          requires:
            - remark
          filters:
            branches:
              only: master
      # Ensure that build_docs_pdf always runs last, so that we can use the CircleCI API link for the "latest" artifact
      # https://circleci.com/api/v1.1/project/github/bids-standard/bids-specification/latest/artifacts/0/bids-spec.pdf?branch=master
      - build_docs_pdf:
          requires:
            - build_docs
            - linkchecker
            - github-changelog-generator
            - remark
            - Changelog-bot
