## {{ entity.name }}

**Full name**: {{ entity.display_name }}

**Format**: `{{ entity.name }}-<{{ entity_info.format }}>`

{% if entity.allowed_values %}
**Allowed values**: `{% for value in allowed_values %}{{ value }}{% if not loop.last %}, {% endif %}{% endfor %}`
{% endif %}

**Definition**: {{ description }}
