name: "Label issues & PR"
# See https://github.com/marketplace/actions/auto-labeler

on:

  pull_request_target:
    types: [opened]

jobs:

  labeler:
    runs-on: ubuntu-latest

    if: github.repository_owner == 'bids-standard'

    steps:
    - name: Check Labels
      id: labeler
      uses: jimschubert/labeler-action@v2
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
