name: "schemacode_ci"

on:
  push:
    branches:
      - "master"
    paths:
      - "tools/schemacode/**"
      - "src/schema/**"
    tags:
      - "*"
      - "**"
  pull_request:
    branches:
      - "*"
    paths:
      - "tools/schemacode/**"
      - "src/schema/**"
    tags:
      - "*"
      - "**"


jobs:

  run_tests:

    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: ["ubuntu-latest"]
            python-version: ["3.7", "3.8", "3.9", "3.10"]
    name: ${{ matrix.os }} with Python ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3

      - name: "Set up Python"
        uses: actions/setup-python@v4
        with:
            python-version: ${{ matrix.python-version }}

      - name: "Display Python version"
        shell: bash {0}
        run: python -c "import sys; print(sys.version)"

      - name: "Install the schemacode package"
        shell: bash {0}
        run: |
          python -m pip install --progress-bar off --upgrade pip
          python -m pip install ./tools/schemacode[all]

      - name: "Run tests"
        shell: bash {0}
        run: |
          python -m pytest --pyargs bidsschematools -m "not validate_schema" --cov-append --cov-report=xml --cov=bidsschematools

      - name: "Test upload"
        shell: bash {0}
        run: |
          if [ -z "$BIDSSCHEMATOOLS_RELEASE" ]; then echo "BIDSSCHEMATOOLS_RELEASE is unset"; else echo "BIDSSCHEMATOOLS_RELEASE is set to '$BIDSSCHEMATOOLS_RELEASE'"; fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: unit_${{ matrix.os }}_${{ matrix.python-version }}
          path: coverage.xml
        if: success()

  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint schemacode
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"

      - name: Install the schemacode package
        shell: bash {0}
        run: |
          python -m pip install --progress-bar off --upgrade pip setuptools wheel
          python -m pip install -e ./tools/schemacode[all]

      - name: Run flake8
        working-directory: ./tools/schemacode/
        shell: bash {0}
        run: |
          flake8 .

  validate_schema:
    runs-on: ubuntu-latest
    name: Validate schema
    steps:
    - uses: actions/checkout@v3

    - name: Set Up Python environment
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install the schemacode package
      shell: bash {0}
      run: |
        python -m pip install --progress-bar off --upgrade pip setuptools wheel
        python -m pip install -e ./tools/schemacode[all]

    - name: Run schema validation tests
      run: python -m pytest --pyargs bidsschematools -m "validate_schema" --cov-append --cov-report=xml --cov=bidsschematools

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: schema_validation
        path: coverage.xml
      if: success()

  upload_to_codecov:
    runs-on: "ubuntu-latest"
    name: Upload coverage
    needs: [run_tests,validate_schema]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Download artifacts
      uses: actions/download-artifact@v3

    - name: Upload to CodeCov
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
