
name: Schema entities order

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  entities-order:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      working-directory: ./tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install pyyaml

    - name: check entities order
      run: python -m pytest --pyargs bidsschematools -m "validate_schema" --cov=bidsschematools
